<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Vina+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="name">
            <h1>EdilGPT</h1>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="left-side-wrapper">
                <div class="new-chat">
                    <img src="placeholder-1500x1500-1x1.gif" alt="placeholder.png" width="50px" height="50px">
                    <a href="empty.html">New Chat</a>
                </div>
                <div class="chats">
                    <div class="chat">How to ask Edil</div>
                    <div class="chat">CSS in React</div>
                    <div class="chat">Js in React</div>
                    <div class="chat">React installation</div>
                    <div class="chat">English presentation topic</div>
                </div>
                <div class="personal-cabinet">
                    <img src="placeholder-1500x1500-1x1.gif" alt="placeholder.png" width="30px" height="30px" >
                    Edil_Original
                </div>
            </div>
            <div class="current-chat-wrapper">
                <div class="mid-logo"></div>
                <div class="input">
                    <input type="text" id="message-field">
                    <button id="send-message">></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>